@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply text-[18px] sm:text-[22px] md:text-[24px];
  }

  body {
    @apply bg-gray-940 text-gray-200 leading-relaxed scroll-smooth;
  }

  .h1 {
    @apply font-sans lowercase small-caps font-bold text-3xl text-gray-200;
  }

  .small-caps {
    font-variant: small-caps;
  }

  .hyphens-auto {
    hyphens: auto;
  }

  .border-std {
    @apply border-b border-gray-700;
  }

  .border-lighter {
    @apply border border-gray-600;
  }

  .article {
    h2 {
      @apply font-sans font-semibold lowercase small-caps text-2xl text-gray-200 mt-16 mb-8;
    }
    h3 {
      @apply font-sans font-semibold lowercase small-caps text-lg text-gray-200 mt-12 mb-8;
    }
    h4 {
      @apply font-sans font-semibold lowercase small-caps text-base text-gray-200 mt-8 mb-8;
    }

    a {
      @apply underline decoration-gray-600 decoration-1 underline-offset-4;

      &:hover {
        @apply transition duration-200 text-gray-100 decoration-gray-500;
      }
    }

    p, img, ul, ol, figcaption {
      @apply mb-6;
    }

    figcaption {
      @apply -mt-4;
    }

    ul {
      @apply list-disc;
    }

    ol {
      @apply list-decimal;
    }

    ol li, ul li {
      @apply ml-8 mt-3;
    }

    img {
      @apply bg-gray-900 grayscale-50;
    }

    aside {
      @apply my-6 border-l border-gray-700 pl-4 md:m-0 md:border-0 md:p-0 text-xs text-gray-400 md:text-right;
    }

    .big-text {
      @apply font-sans font-bold text-gray-400 text-7xl normal-nums;
    }
  }

  .portfolio {
    figure img {
      @apply drop-shadow-xl;
    }

    figcaption {
      @apply mt-4 pb-4 border-b border-gray-800 italic text-2xs;
    }
    aside figcaption {
      @apply md:mt-0 border-0;
    }
  }
}

